<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit News</title>
    <link rel="stylesheet" href="/bulma/css/bulma.min.css">
    <script src="/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
</head>
<body>
    <% if (userlevel == "admin") { %>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item">
                <img src="/itkmitl.png" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasic" class="navbar-menu">
              <div class="navbar-start">
                <a href="/home" class="navbar-item">
                  Home
                </a>
      
                <a href="/semeter" class="navbar-item">
                  เลือกปีการศึกษาและเทอม
                </a>
          
                <a href="/progress" class="navbar-item">
                  Progress for admin
                </a>
      
                <a href="/givescore" class="navbar-item">
                  Give Score
                </a>
      
                <a href="/studentlist" class="navbar-item">
                  Student List
                </a>
      
                <a href="/register" class="navbar-item">
                  User Management
                </a>
          
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    More
                  </a>
          
                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      Report an issue
                    </a>
                  </div>
                </div>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <p>Welcome <%= username %></p>
                </div>
      
                <div class="navbar-item">
                    <a href="/logout" class="button is-danger">
                      Logout
                    </a>
                </div>
              </div>
            </div>
        </nav>
        <div class="container mt-5">
            <div class="title is-1">Edit News</div>
            <form action="" method="post">
              <textarea name="newscontent" id="editor">
                Write your news here!!
              </textarea>
              <div align="center"><input class="button is-primary mt-5 mb-5" type="submit" value="Save Change"> <a href="/home" class="button is-danger mt-5 mb-5">Cancel</a></div>
            </form>
        </div>
    <% } %>
    
    <script>
      ClassicEditor
          .create( document.querySelector( '#editor' ) )
          .catch( error => {
              console.error( error );
          } );
    </script>
</body>
</html>