<%- include('layouts/header'); %>
  <section class="section">
    <div class="container">
      <div class="title is-1">แบบฝึกหัดสัปดาห์ <%= week %></div>
      <div class="title is-3">คำอธิบาย</div>
      <div class="message">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, beatae? Autem optio nisi architecto facilis nobis, distinctio dolore natus fuga.</div>
      <figure class="image is-128x128">
        <img src="/128x128.png">
      </figure>
      <div class="link mt-5">
        <a href="">ลิ้งค์ Github แบบฝึกหัด</a><br>
        <a href="">ลิ้งค์ Github เฉลยแบบฝึกหัด</a>
      </div>
      <div class="table-container mt-5">
        <table class="table is-bordered">
          <thead>
            <tr>
              <th>หัวข้อแบบฝึกหัด</th>
              <th>คำอธิบาย</th>
              <th>คะแนน</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>หัวข้อที่ 1</td>
              <td>...</td>
              <td>100</td>
            </tr>
            <tr>
              <td>หัวข้อที่ 2</td>
              <td>...</td>
              <td>100</td>
            </tr>
            <tr>
              <td>หัวข้อที่ 3</td>
              <td>...</td>
              <td>100</td>
            </tr>
            <tr>
              <td>หัวข้อที่ 4</td>
              <td>...</td>
              <td>100</td>
            </tr>
            <tr>
              <td>หัวข้อที่ 5</td>
              <td>...</td>
              <td>100</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
<%- include('layouts/footer'); %>