<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/bulma/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="title is-1 has-text-centered">Login</div>

        <div class="container has-text-centered">
            <div class="message is-success">
                <p> <%=(typeof alertMsg!='undefined')? alertMsg:''%> </p>
            </div>
            <form action="/login" method="POST">
                <div class="input-group">
                    <label for="studentid">Username : </label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group mt-1">
                    <label for="password">Password : </label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="input-group mt-2">
                    <button type="submit" name="login_user" class="button is-success">Login</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>