<%- include('layouts/header'); %>
        <section class="hero is-fullheight is-warning">
            <div class="hero-body">
                <div class="container">
                    <div class="columns">
                        <div class="title is-1"><%= title %></div>
                    </div>
                    <div class="columns">
                        <div class="content"><%- content %></div>
                    </div>
                    <div align="center"><a class="button is-danger mt-5" href="/home">Back</a></div>
                </div>
            </div>
        </section>
<%- include('layouts/footer'); %>