<%- include('layouts/header'); %>
    <div class="container mt-5">
        <div class="title is-1"><%= title %></div>
        <div class="content"><%- content %></div>
        <div align="center"><a class="button is-danger" href="/home">Back</a></div>
    </div>
<%- include('layouts/footer'); %>