<%- include('layouts/header'); %>
      <div class="container mt-5">
          <div class="message is-success">
            <p> <%=(typeof alertMsg!='undefined')? alertMsg:''%> </p>
          </div>
          <div class="title is-1">จัดการผู้ใช้งาน</div>
          <div class="title is-3">เพิ่มเจ้าหน้าที่ในระบบ</div>
          <form action="/register" method="POST">
            <div class="field">
              <label class="label">ชื่อผู้ใช้งาน</label>
              <div class="control">
                <input class="input" type="text" id="username" name="username" placeholder="Insert username" required>
              </div>
            </div>
            <div class="field">
              <label class="label">รหัสผ่าน</label>
              <div class="control">
                <input class="input" type="password" id="password" name="password" placeholder="Insert password" required>
              </div>
            </div>
            <div class="field">
              <label class="label">ชื่อจริง</label>
              <div class="control">
                <input class="input" type="text" id="firstname" name="firstname" placeholder="Insert firstname" required>
              </div>
            </div>
            <div class="field">
              <label class="label">นามสกุล</label>
              <div class="control">
                <input class="input" type="text" id="lastname" name="lastname" placeholder="Insert lastname" required>
              </div>
            </div>
            <input type="submit" value="สมัคร">
          </form>
      </div>
<%- include('layouts/footer'); %>